/** SOURCE: https://fonts.googleapis.com/css?family=Urbanist */
/* latin-ext */
@font-face {
    font-family: 'Urbanist';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/urbanist/v10/L0xjDF02iFML4hGCyOCpRdycFsGxSrqDyx4vH5mqe8Q.woff2)
    format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Urbanist';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/urbanist/v10/L0xjDF02iFML4hGCyOCpRdycFsGxSrqDyx4vEZmq.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC,
    U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/** SOURCE: https://fonts.googleapis.com/css2?family=Sanchez&display=swap */
/* latin-ext */
@font-face {
    font-family: 'Sanchez';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/sanchez/v13/Ycm2sZJORluHnXbIfmdR_SwE.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Sanchez';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/sanchez/v13/Ycm2sZJORluHnXbIfmlR_Q.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC,
    U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

:root{
    --main-background-color: #1A1A1D;
    --primary-color: #b42f5d;
    --secondary-color: #EE4C7C;
    --primary-text-color: #e8d1d7;
    --secondary-text-color: white;
    --line-color: #C3073F;
    --accent-color: #6F2232;
    --section-color: rgb(84, 25, 25);
    --non-main-color: rgb(36, 14, 14);
    --highlight-color: #dba8a8;
}

body{
    font-family: Urbanist;
    color: var(--primary-text-color);
    overflow-x:hidden;
    background-color: var(--main-background-color);
    border-radius: 1em;
    margin: 0px;
}

#main{
    overflow: auto;
    overflow-x: visible;
}
h1{
    font-size: 2rem;
    text-align: center;
}

h1, h2, h3{
    font-family: Sanchez;
}

.post{
    color: var(--non-main-color);
    background-color: var(--primary-text-color);
}

#bottom-button{
    display: flex;
    justify-content: center; align-items: center;
}

#add-post{
    border-radius: 1rem;
    border: solid var(--accent-color) 3px;
    border-bottom-color: var(--accent-color);
    border-right-color: var(--accent-color);
    border-top-color: rgb(181, 83, 83);
    border-left-color: rgb(181, 83, 83);
    background-color: var(--highlight-color);
    color: #1A1A1D;
    padding: 1rem;
}

hr{
    border-color: var(--accent-color);
    border-width: 3px;
}

#new-post-dialog, #update-post-dialog, #delete-post-dialog{
    border-radius: 1rem;
    background-color: var(--highlight-color);
    color: var(--accent-color)
}

.dialog-button{
    background-color: var(--primary-text-color);
    color: var(--accent-color);
    border-radius: 1rem;
    border-bottom-color: var(--line-color);
    border-right-color: var(--line-color);
    border-top-color: rgb(181, 83, 83);
    border-left-color: rgb(181, 83, 83);
}


